body {
	background: black;
	font-family: "Yellowtail", cursive;
    display: flex;
}
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
    margin-top: 20vh;
}
.postcard-header {
	display: flex;
}
img {
	width: 50px;
	height: 50px;
	padding: 10px;
}
h1 {
	width: 100%;
	margin: 0%;
	padding: 10px;
}
.postcard-body {
	display: flex;
}
.body-left,
.body-right {
	padding: 10px;
}
.p1 {
	margin-top: 0%;
	font-size: medium;
}
.p2 {
	font-size: medium;
}
input {
	border: none;
	border-bottom: 1px grey solid;
}
.postcard-footer {
	text-align: center;
}
button {
	background-color: #d5d0e2;
	padding: 5px 10px;
}
